#body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.metro .page {
  width: 980px;
  margin: 0 auto;
  padding: 0 20px;
}
.description {
  margin: 10px 0;
}
.show-grid .row [class*="span"] {
  line-height: 40px;
  background: rgba(193, 179, 123, 0.52);
  text-align: center;
  min-height: 10px !important;
}
.color-stack li,
#icon-list li {
  margin-bottom: 5px;
}
.example > img {
  margin: 5px;
  display: inline-block;
}
.example .image-container {
  margin: 10px;
  display: inline-block;
  vertical-align: middle;
}
.layout {
  min-height: 100%;
  position: relative;
}
header {
  height: 45px;
  position: relative;
}
footer {
  width: 100%;
  height: 25px;
}
@media only screen and (max-width: 640px) {
  .prettyprint,
  .example {
    display: none;
  }
}

/* GOOGLE MAPS */
 #map-canvas {
        height: 100%;
        margin: 0;
        padding: 0;
      }
.controls {
        margin-top: 16px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
.bg-clearBlue {
	background-color: #EFF4FF !important; 
}
.bg-clearOrange {
	background-color: #FFC18A !important;
}
.bg-clearGreen {
	background-color: #8AF2A5 !important;
}
.bg-clearRed {
	background-color: #F4B2B2 !important;
}
.bg-clearPink {
	background-color: #F8BAED !important;
}
.bg-clearYellow {
	background-color: #FADA90 !important;
}